<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Day</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <p th:text="${dayDto.getDay() + '   '+dayDto.getMonth()+ '   '+dayDto.getYear()}" >
</div>
<div>
<table class="table table-striped table-responsive-md">
    <thead>
    <tr>
        <th>Time           </th>
        <th>Description        </th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody >
    <tr th:each="ts : ${tasks}">
        <td th:text="${#temporals.format(ts.getTime(),'HH:mm')}"></td>
        <td th:text="${ts.getDescription()}"></td>
        <td><a th:href="@{day/{id}/delete(id=${ts.getId()})}"><i class="fas fa-trash-alt"></i></a></td>
    </tr>
    </tbody>
</table>
</div>


<form th:action="@{/day}" th:object="${taskDto}" th:method="post">

    <div>
        <label for="time" class="col-form-label"></label> <input type="time" th:field="*{taskTime}" class="form-control"  id="time" placeholder="time">

        <label for="description" class="col-form-label"></label> <input type="text" th:field="*{description}" class="form-control" id="description" placeholder="description">

        <label for="description" class="col-form-label"></label> <input type="text" th:field="*{date}" th:value="${taskDto.date}" class="form-control" id="date" placeholder="description" hidden="true">

        <input type="submit" class="btn btn-primary" value="Add Task">

    </div>

</form>

</body>
</html>